:root {
  --yangColor: rgb(216, 194, 30);
  --yinColor: #111111;
  --borderRadius: 20px;
  --animation: .5s ease;
}

html {
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.canvas {
  position: 100vw;
  height: 100vh;
  background: var(--yinColor);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90vw;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 230px;
  grid-template-areas: "image" "text";
  border-radius: var(--borderRadius);
  box-shadow: 3px 3px 10px rgba(216, 194, 30, .5);
  border: 1px solid var(--yangColor);
  text-align: center;
  transition: var(--animation);
  font-size: 12px;
}

.card-image {
  grid-area: image;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card-image.painting {
  background-image: url("images/art.jpg");
}

.card-image.penspinning {
  background-image: url("images/penspinning.jpg");
}

.card-image.code {
  background-image: url("images/code.jpg");
}

.card-image.music {
  background-image: url("images/ian-anderson.jpg");
}

.card-image.maths {
  background-image: url("images/math.jpg");
}

.card-image.speedcubing {
  background-image: url("images/speedcubing.jpg");
}

.card-description {
  grid-area: text;
  color: var(--yangColor);
  margin: 25px;
  transform: translateZ(30px);
}

.card-title {
  font-size: 2em;
  margin-bottom: 15px;
}

.js-tilt-glare {
  border-radius: var(--borderRadius); 
}